.banner-sections {
    .left-overlay {
        display: block;
        width: 35%;
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: #686a9b;
        left: 0;
        z-index: 1;
        opacity: 0.4;
        @media #{$max-xl}{
            display: none;
        }
    }
    .right-overlay {
        position: absolute;
        bottom: -20%;
        right: -12%;
        width: 40%;
        height: 471px;
        background: #1a3e4c;
        z-index: 1;
        border-radius: 0;
        transform: rotate(-28deg);
        opacity: 0.5;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-left-radius: 30%;
        @media #{$max-xl}{
            display: none;
        }
    }
    position: relative;
    .banner-content {
        max-width:60%;
        @media #{$max-lg}{
            max-width: 100%;
        }
        .banner-title {
            font-weight: 700;
            color: #fff;
        }
        .banner-desc {
            color: #fff;
            font-weight: 500;
            width: 70%;
            max-width: 100%;
            margin-top:20px;
            @media #{$max-lg}{
                max-width: 90%;
                margin-top: 16px;
            }
        }
        .banner-btn {
            margin-top: 48px;
            @media #{$max-lg}{
                margin-top: 32px;
            }
            @media #{$max-md}{
                margin-top: 24px;
            }
            @media #{$max-sm}{
                margin-top: 16px;
            }
        }
    }
    .swiper-button-next, .swiper-button-prev {
        bottom: 50px;
        top: auto;
        bottom: 50px;
        top: auto;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background: transparent;
        opacity: 1;
        padding: 10px;
        border: 2px solid #fff;
        z-index: 99;
        @media #{$max-lg}{
            width: 40px;
            height: 40px;
            bottom: 20px;
            border-width: 1px;
        }
    }
    .swiper-button-next:after, .swiper-button-prev:after {
        content: none;
    }
    .swiper-button-next i, .swiper-button-prev i{
        font-size: 18px;
        color: #fff;
        font-weight: 700;
        @media #{$max-lg}{
            font-size: 16px;
        }
    }
    .swiper-button-next {
        right: auto;
        left: 75px;
        @media #{$max-lg}{
            left: 60px;
        }
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 60px;
        top: auto;
        left: 150px;
        width: auto;
        @media #{$max-lg}{
            bottom: 30px;
            top: auto;
            left: 115px;
            width: auto;
        }
    }
    .swiper-pagination-fraction {
        color: #fff;
        font-weight: 600;
    }
}

.banner-slide {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 130px 0 130px;
    >div{
        position: relative;
        z-index: 4;
    }
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--th-secondary);
        opacity: 0.550;
        z-index: 1;
    }
    .background-video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: translate(-50%, -50%);
    }
    .baner-right-content {
        position: absolute;
        right: 0;
        bottom: 57px;
        left: 0;
        text-align: end;
    }
}

.progam-section{
    .swiper-button-next, .swiper-button-prev {
        top: 65px;
        bottom: auto;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background: var(--th-secondary);
        padding: 10px;
        border: 2px solid var(--th-secondary);
        z-index: 99;
        @media #{$max-md}{
            top: 40px;
        }
    }
    .right-space {
        margin-right: 120px;
    }
    .swiper-button-next:after, .swiper-button-prev:after {
        content: none;
    }
    .swiper-button-next i, .swiper-button-prev i{
        font-size: 18px;
        color: var(--th-white);
        font-weight: 700;
    }
    .swiper-button-next {
        left: auto;
        right: 0;
    }
    .swiper-button-prev {
        right: 45px;
        left: auto;
    }
    .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
        opacity: 1;
        pointer-events: none;
        background: transparent !important;
        border-color: var(--th-secondary) !important;
    }
    .swiper-button-next.swiper-button-disabled i, .swiper-button-prev.swiper-button-disabled i{
        color:  var(--th-secondary);
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 60px;
        top: auto;
        right: 150px;
        width: auto;
    }
}